<% if(typeof hero != "undefined" && hero) { %>
<figure class="hero-image">
  <img src="/images/articles/<%- current.source %>/hero.jpg" title="<%- title %>" />
  <% if(typeof heroCaption != "undefined" && heroCaption) { %>
  <figcaption><%- heroCaption %></figcaption>
  <% } %>
</figure>
<% } %>

<section class="project-content-section">
  <% if(current.path[0] == "projects") { %>
  <div class="project-content-image">
    <div>
      <% if(typeof link != "undefined") { %>
        <a class="without-underline" href="<%- link %>">
      <% } %>
        <img src="/images/projects/<%- current.source %>/hero.jpg" />
      <% if(typeof link != "undefined") { %>
        </a>
      <% } %>
    </div>
<!--    <a class="back-link" href="/projects">Return to Project Index</a>-->
  </div>
  <div class="project-content-body">
    <div class="project-content-header">
      <h3> <%- title %> </h3>
      <p class="project-header-tagline"><%- tagline %></p>
      <p class="project-header-date"><%- date %></p>
      <p class="project-header-skills"><strong>Skills:</strong> <%- skills %></p>
    </div>
    <hr>
    <%- yield %>
    <% if(typeof link != "undefined") { %>
      <a class="button project-content-link without-underline" href="<%- link %>"><span class="icon-link"></span> Link to project</a>
    <% } %>
    <br >
    <a class="button project-content-link without-underline" href="/projects"><span class="icon-arrow-left-circle"></span> Project Index</a>
  </div>
</section>
  <% } else { %>

<div class="article-header">
  <h1 class="article-title"><%- title %></h1>
  <% if(typeof tagline != "undefined") { %>
  <p class="article-tagline"><%- tagline %></p>
  <% } %>
  <% if(typeof tags != "undefined" && tags) { %>
    <%- partial("../_partials/_articleTags") %>
  <% } %>
</div>
<section class="article-content-section">
  <aside class="article-content-sidebar">
    <div class="text-center">
      <hr/>
      <%- partial("../_shared/_contact") %>
      <hr/>
    </div>
  </aside>
  <article class="article-content-body">
    <%- yield %>
  </article>
  <% } %>
</section>
